html,body {
  margin: 0;
  padding: 0;
  /* background-color: #f7f7ff; */
}

#app {
  width: 100%;
  height: 100vh;
  overflow: auto;
  padding: 0px 20px 12px 20px;
  box-sizing: border-box;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  height: 150px;
}

.upload-product-excel {
  min-width: 200px;
  width: 15%;
  height: 80%;
}

.upload-product-excel .component-upload {
  /* height: 200px; */
  /* min-width: 240px; */
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  /* height: 150px; */
    /* align-items: flex-start; */
}

.el-upload .el-upload-dragger {
  padding: 8px 20px;
}

.component-upload-slot-filelist {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding: 0px 8px;
}

.component-upload-slot-filelist .file-container {
  width: 80%;
  display: flex;
  align-items: center;
}

.component-upload-slot-filelist .file-remove-btn {
  cursor: pointer;
}

.component-upload-slot-filelist .file-remove-btn:hover {
  color: rgb(121, 187, 255);
}

.icon-file-excel {}

.merge-description {
  width: 83%;
  /* margin-bottom: 20px; */
  overflow: auto;
}
.merge-description .el-descriptions .el-descriptions__header {
  margin-bottom: 12px;
}

.table-header-style {
  background-color: red;
  color: aliceblue;
}

:deep(.el-table .my-custom-header-class) {
  background: linear-gradient(to right, #8e2de2, #4a00e0);
  color: #fff;
  font-size: 14px;
}
/* 针对特定列的样式 */
:deep(.el-table .my-custom-header-class .cell) {
  font-weight: bold;
}

.product-table {}

.product-table .search-box {
  width: 100%;
  display: flex;
  margin-bottom: 12px;
  align-items: center;
}

.search-box-items {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 1;
}

.product-table .search-box .search-box-items .search-box-item {}

.search-box-item+.search-box-item {
  margin-left: 8px;
}

.product-table .search-box .search-btns {
  margin-left: 8px;
}

.table-header-btns {
  /* display: flex; */
}

.product-table .search-box .el-input-group--prepend {
  
}

.product-table .search-box .el-input-group--prepend .el-input-group__prepend {
  padding: 0 8px;
}


.custom-text-btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 4px;
  transition: color .2s linear;
}

.custom-text-btn:hover {
  color: rgb(121, 187, 255);
  transition: color .2s linear;
}